### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
hero_df = pd.read_csv(file_to_load)
hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
total_players = len(hero_df["SN"].value_counts())
total_players

576

In [4]:
df_players = pd.DataFrame({"Total Players": [total_players]})
df_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
## Purchasing Analysis (Total)
unique_items = len(hero_df["Item ID"].value_counts())
unique_items

183

In [24]:
#Total Rev
total_revenue = hero_df["Price"].sum()
total_revenue

2379.77

In [25]:
# Purchases
number_of_purchases = len(hero_df["Purchase ID"].value_counts())
number_of_purchases

780

In [26]:
avg_purchases= hero_df["Price"].mean()
avg_purchases

3.050987179487176

In [27]:
#DF Analysis Purchasing
df_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [avg_purchases],
                           "Number of Purchases": [number_of_purchases],
                           "Total Revenue": [total_revenue]})
df_analysis["Average Price"]=df_analysis["Average Price"].astype(float).map("${:,.2f}".format)
df_analysis["Total Revenue"]=df_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)
df_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
gender_demographic = hero_df.groupby("Gender")["SN"].nunique()

total_players = len(hero_df["SN"].value_counts())

percent_of_players = (gender_demographic/total_players)*100

gender_df = pd.DataFrame({"Total_Count": gender_demographic,
                         "Percentage of Players": percent_of_players})

gender_df

                       Total_Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


purchase_gender_demographic = hero_df.groupby("Gender)["Price].mean()


#Create a summary data frame to hold the results

#Optional: give the displayed data cleaner formatting


#Display the summary data frame

In [29]:
purchase_gender_demographic = hero_df.groupby("Gender")["Price"].nunique()
purchase_gender_demographic

Gender
Female                    79
Male                     144
Other / Non-Disclosed     12
Name: Price, dtype: int64

In [30]:
avg_purchase = hero_df.groupby("Gender")["Price"].mean()
avg_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [31]:
total_purchase = hero_df.groupby("Gender")["Price"].sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [33]:
avg_total_purchase_per_person_gender = total_purchase/purchase_gender_demographic
avg_total_purchase_per_person_gender

Gender
Female                    4.581519
Male                     13.664167
Other / Non-Disclosed     4.182500
Name: Price, dtype: float64

In [36]:
#DF
df_gender_analysis = pd.DataFrame({"Purchase Count": purchase_gender_demographic,
                                  "Average Purchase Price": avg_purchase,
                                   "Total Purchase Value":total_purchase,
                                   "Avg Total Purchase per Person": avg_total_purchase_per_person_gender})
df_gender_analysis["Average Purchase Price"]=df_gender_analysis["Average Purchase Price"].astype(float).map("${:,.2f}".format)
df_gender_analysis["Total Purchase Value"]=df_gender_analysis["Total Purchase Value"].astype(float).map("${:,.2f}".format)
df_gender_analysis["Avg Total Purchase per Person"]=df_gender_analysis["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
df_gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,79,$3.20,$361.94,$4.58
Male,144,$3.02,"$1,967.64",$13.66
Other / Non-Disclosed,12,$3.35,$50.19,$4.18

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
#Age Demographics
#Establish bins for ages <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
bins =[0, 9, 14, 19, 24, 29, 34, 39, 999]
bins_for_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]
#Categorize the existing players using the age bins
hero_df["Categorized players"]= pd.cut(hero_df["Age"],bins, labels=bins_for_ages)
#Calculate the numbers and percentages by age group
age_grouped = hero_df.groupby("Categorized players")
count_age = age_grouped["SN"].nunique()
percentage_by_age = (count_age/total_players) * 100
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": count_age})
age_demographics.index.name = None
age_demographics

       Percentage of Players  Total Count
<10                 2.951389           17
10-14               3.819444           22
15-19              18.576389          107
20-24              44.791667          258
25-29              13.368056           77
30-34               9.027778           52
35-39               5.381944           31
>=40                2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
#Purchasing Analysis (Age)
purchase_age_count = age_grouped["Purchase ID"].count()
avg_purchase=age_grouped["Price"].mean()
total_purchase_age = age_grouped["Price"].sum()
avg_purchase_age = (total_purchase_age/count_age)*100
age_analysis_df = pd.DataFrame({"Purchase Count": purchase_age_count,
                               "Average Purchase Price": avg_purchase,
                                "Total Purchase Price": total_purchase_age,
                               "Avg Total Purchase per Person":avg_purchase_age})
age_analysis_df["Average Purchase Price"]= age_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_analysis_df["Total Purchase Price"]= age_analysis_df["Total Purchase Price"].astype(float).map("${:,.2f}".format)
age_analysis_df["Avg Total Purchase per Person"]= age_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$453.71
10-14,28,$2.96,$82.78,$376.27
15-19,136,$3.04,$412.89,$385.88
20-24,365,$3.05,"$1,114.06",$431.81
25-29,101,$2.90,$293.00,$380.52
30-34,73,$2.93,$214.00,$411.54
35-39,41,$3.60,$147.67,$476.35
>=40,13,$2.94,$38.24,$318.67

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
buyer = hero_df.groupby("SN")
count_buyers = buyer["Purchase ID"].count()
avg_buyers = buyer["Price"].mean()
purchase_total_buyers = buyer["Price"].sum()
top_spender_df = pd.DataFrame({"Purchase Count": count_buyers,
                              "Average Purchase Price": avg_buyers,
                              "Total Purchase Value": purchase_total_buyers})
filtered_top_spender_df = top_spender_df.sort_values(["Total Purchase Value"], ascending =False)
filtered_top_spender_df["Average Purchase Price"]= top_spender_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
filtered_top_spender_df["Total Purchase Value"]= top_spender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
filtered_top_spender_df

               Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                   5                  $3.79               $18.96
Idastidru52                 4                  $3.86               $15.45
Chamjask73                  3                  $4.61               $13.83
Iral74                      4                  $3.40               $13.62
Iskadarya95                 3                  $4.37               $13.10
Ilarin91                    3                  $4.23               $12.70
Ialallo29                   3                  $3.95               $11.84
Tyidaim51                   3                  $3.94               $11.83
Lassilsala30                3                  $3.84               $11.51
Chadolyla44                 3                  $3.82               $11.46
Iri67                       3                  $3.79               $11.37
Inguron55                   3                  $3.70               $11.11
Siallylis44                 3                  $3.46               $10.37
Saistyphos30                3                  $3.44               $10.33
Phyali88                    3                  $3.43               $10.30
Strithenu87                 3                  $3.39               $10.18
Lisim78                     3                  $3.34               $10.02
Haillyrgue51                3                  $3.17                $9.50
Phistym51                   2                  $4.75                $9.50
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86
Saedaiphos46                3                  $2.94                $8.83
Reunasu60                   2                  $4.41                $8.82
Chanastnya43                3                  $2.94                $8.82
...                       ...                    ...                  ...
Lirtim36                    1                  $1.33                $1.33
Shidai42                    1                  $1.33                $1.33
Philodil43                  1                  $1.29                $1.29
Eyista89                    1                  $1.29                $1.29
Mindilsa60                  1                  $1.28                $1.28
Tyarithn67                  1                  $1.14                $1.14
Aisur51                     1                  $1.14                $1.14
Ilista82                    1                  $1.14                $1.14
Jiskimsda56                 1                  $1.14                $1.14
Aillyriadru65               1                  $1.10                $1.10
Eryon48                     1                  $1.10                $1.10
Iduelis31                   1                  $1.10                $1.10
Yasur85                     1                  $1.10                $1.10
Undjask33                   1                  $1.10                $1.10
Lirtassa52                  1                  $1.09                $1.09
Aelidru27                   1                  $1.09                $1.09
Yalaeria91                  1                  $1.06                $1.06
Aesurstilis64               1                  $1.03                $1.03
Saida58                     1                  $1.03                $1.03
Euthe35                     1                  $1.03                $1.03
Hala31                      1                  $1.02                $1.02
Qilalista41                 1                  $1.02                $1.02
Frichjaskan98               1                  $1.02                $1.02
Isurria36                   1                  $1.02                $1.02
Eudanu84                    1                  $1.02                $1.02
Ililsasya43                 1                  $1.02                $1.02
Irilis75                    1                  $1.02                $1.02
Aidai61                     1                  $1.01                $1.01
Chanirra79                  1                  $1.01                $1.01
Alo38                       1                  $1.00                $1.00

[576 rows x 3 columns]

In [60]:
#most  Popular Items

items =hero_df[["Item ID", "Item Name", "Price"]]
items_grouped = hero_df.groupby(["Item ID", "Item Name"])
purchase_count = items_grouped["Price"].count()
purchase_price = items_grouped["Price"].mean()
price_per_item = purchase_price/purchase_count
popular_df = pd.DataFrame({"Purchase Count": purchase_count,
                          "Item Price": price_per_item,
                          "Total Purchase Value": purchase_price})
filtered_popular_df = popular_df.sort_values(["Purchase Count"],ascending = False)
filtered_popular_df["Item Price"]= popular_df["Item Price"].astype(float).map("${:,.2f}".format)
filtered_popular_df["Total Purchase Value"]= popular_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
filtered_popular_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$0.35,$4.23
145,Fiery Glass Crusader,9,$0.51,$4.58
108,"Extraction, Quickblade Of Trembling Hands",9,$0.39,$3.53
82,Nirvana,9,$0.54,$4.90
19,"Pursuit, Cudgel of Necromancy",8,$0.13,$1.02
103,Singed Scalpel,8,$0.54,$4.35
75,Brutality Ivory Warmace,8,$0.30,$2.42
72,Winter's Bite,8,$0.47,$3.77
60,Wolf,8,$0.44,$3.54
59,"Lightning, Etcher of the King",8,$0.53,$4.23
37,"Shadow Strike, Glory of Ending Hope",8,$0.40,$3.16
34,Retribution Axe,8,$0.28,$2.22
92,Final Critic,8,$0.61,$4.88
53,Vengeance Cleaver,7,$0.29,$2.05
110,Suspension,7,$0.21,$1.44
7,"Thorn, Satchel of Dark Souls",7,$0.19,$1.33
71,Demise,7,$0.23,$1.61
117,"Heartstriker, Legacy of the Light",7,$0.26,$1.79
159,"Oathbreaker, Spellblade of Trials",7,$0.44,$3.08
85,Malificent Bag,7,$0.25,$1.75
164,Exiled Doomblade,7,$0.23,$1.63
141,Persuasion,7,$0.46,$3.19
78,"Glimmer, Ender of the Moon",7,$0.63,$4.40
102,Avenger,6,$0.57,$3.44
129,"Fate, Vengeance of Eternal Justice",6,$0.26,$1.54
93,Apocalyptic Battlescythe,6,$0.33,$1.97
54,Eternal Cleaver,6,$0.42,$2.50
3,Phantomlight,6,$0.42,$2.49
2,Verdict,6,$0.41,$2.48
40,Second Chance,6,$0.42,$2.52
...,...,...,...,...
81,Dreamkiss,2,$1.80,$3.61
6,Rusty Skull,2,$1.85,$3.70
18,"Torchlight, Bond of Storms",2,$2.33,$4.65
26,Unholy Wand,2,$0.56,$1.12
28,"Flux, Destroyer of Due Diligence",2,$0.53,$1.06
30,Stormcaller,2,$1.10,$2.21
158,"Darkheart, Butcher of the Champion",2,$1.23,$2.45
69,"Frenzy, Defender of the Harvest",2,$0.99,$1.98
132,Persuasion,2,$1.67,$3.33
63,Stormfury Mace,2,$2.50,$4.99
56,Foul Titanium Battle Axe,2,$1.46,$2.92
127,"Heartseeker, Reaver of Souls",2,$1.96,$3.92
48,"Rage, Legacy of the Lone Victor",2,$1.24,$2.48
125,Whistling Mithril Warblade,2,$0.50,$1.00
43,Foul Edge,2,$1.77,$3.54
115,Spectral Diamond Doomblade,2,$1.02,$2.04
33,Curved Axe,2,$0.58,$1.16
31,Trickster,2,$0.78,$1.55
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
42,The Decapitator,1,$1.75,$1.75
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
126,Exiled Mithril Longsword,1,$2.00,$2.00
51,Endbringer,1,$4.66,$4.66
90,Betrayer,1,$2.94,$2.94
104,Gladiator's Glaive,1,$1.93,$1.93
23,Crucifer,1,$1.99,$1.99
180,Stormcaller,1,$3.36,$3.36
91,Celeste,1,$4.17,$4.17
134,Undead Crusader,1,$4.50,$4.50

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
#most  Popular Items

items =hero_df[["Item ID", "Item Name", "Price"]]
items_grouped = hero_df.groupby(["Item ID", "Item Name"])
purchase_count = items_grouped["Price"].count()
purchase_price = items_grouped["Price"].sum()
price_per_item = purchase_price/purchase_count
popular_df = pd.DataFrame({"Purchase Count": purchase_count,
                          "Item Price": price_per_item,
                          "Total Purchase Value": purchase_price})
filtered_popular_df= popular_df.sort_values(["Purchase Count"], ascending = False)
filtered_popular_df["Item Price"]= popular_df["Item Price"].astype(float).map("${:,.2f}".format)
filtered_popular_df["Total Purchase Value"]=popular_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
filtered_popular_df.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [69]:
#Most Profitable Items
filtered_popular_df= popular_df.sort_values(["Total Purchase Value"], ascending = False)
filtered_popular_df["Item Price"]= popular_df["Item Price"].astype(float).map("${:,.2f}".format)
filtered_popular_df["Total Purchase Value"]=popular_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
filtered_popular_df.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32